@model PacienteModel

@{
    ViewData["Title"] = "Editar al Paciente";
}

<form  asp-controller="Paciente" asp-action="PacienteEdit" >
    <input type="hidden" asp-for"Id">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" type="text" class="form-control"  placeholder="Escriba el nombre del paciente" />
    </div>

    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input asp-for="Edad" type="text" class="form-control" placeholder="Escriba la edad del paciente" />
    </div>

      <div class="mb-3">
        <label for="sexo" class="form-label">Sexo</label>
        <input asp-for="Sexo" type="text" class="form-control" placeholder="Escriba el sexo del paciente" />
    </div>

    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input asp-for="Celular" type="text" class="form-control" placeholder="Escriba el celular del paciente" />
    </div>

    <br>
    <button class="btn btn-primary mb-3" >Guardar</button>
    <a class="btn btn-outline-secundary" asp-controller="Paciente" asp-action="PacienteList">Regresar</a>
</form>

@* <form asp-controller="Paciente" asp-action="PacienteEdit">
    <input type="hidden" asp-for"Id">

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del paciente" />
    </div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Edad</label>
        <input type="text" class="form-control" id="edad" name="edad" placeholder="Escriba la edad del paciente" />
    </div>

    <div class="mb-3">
        <label for="carrera" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Escriba el sexo del paciente" />
    </div>

    <div class="mb-3">
        <label for="edad" class="form-label">Celular</label>
        <input type="text" class="form-control" id="celular" name="celular" placeholder="Escriba el celular del paciente" />
    </div>

    

<button type="submit" class="btn btn-primary">Guardar</button>
<a class="btn btn-secundary" asp-controller="Home" asp-action="Privacy"> Regresar </a>


</form> *@