@model PacienteModel

@{
    ViewData["Title"] = "Editar al Paciente";
}

<form  asp-controller="Paciente" asp-action="PacienteEdit" >
    <input type="hidden" asp-for"Id">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" type="text" class="form-control"  placeholder="Escriba el nombre del paciente" />
    </div>

    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input asp-for="Edad" type="text" class="form-control" placeholder="Escriba la edad del paciente" />
    </div>

      <div class="mb-3">
        <label for="sexo" class="form-label">Sexo</label>
        <input asp-for="Sexo" type="text" class="form-control" placeholder="Escriba el sexo del paciente" />
    </div>

    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input asp-for="Celular" type="text" class="form-control" placeholder="Escriba el celular del paciente" />
    </div>

    <br>
    <button class="btn btn-success mb-3" >Guardar</button>
    <a class="btn btn-outline-secundary" asp-controller="Paciente" asp-action="PacienteList">Regresar</a>
</form>

